frontend/node_modules/
frontend/builds
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.idea
.env
.env.local

# Backend
backend/invoices/*
backend/public/*
!.gitkeep
/backend/node_modules
.vercel
